html,
body{
    margin: 0px;
}
.hero{
    /* position: absolute; */
    width: 100%;
    height: 770px;
    background-image: url(assets/hero-cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* filter: opacity(0.5); */
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 770px;
    background: rgba(56, 39, 39, 0.5);
}
.nav{
    z-index: 2;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1080px;
    margin: 0 auto;
    padding-top: 30px;
}

.logo{
 font-size: 24px;
 font-weight: 700;
}
.nav_wrapper{
    margin-left: 61px;
}
.nav_wrapper>ul{
    padding: 0px;
 list-style-type: none;
}
.nav_wrapper>ul>li{
    font-size: 14px;
    font-weight: 600;
    display: inline;
    padding-left: 21px;
}
.side_btn>.btn{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0px;
        color: white;
        width: 192px;
        height: 52px;
        /* primary-color */
        background: #23a6f0;
        border-radius: 5px;
}    
 .heading{
    position: absolute;
    color: white;
    top: 346px;
    left: 305px;
    font-weight: 600;
    font-size: 58px;
    line-height: 80px;
}
 .subheading{
    position: absolute;
    color: white;
    top: 531px;
    left: 305px;
    /* font-weight: 600; */
    font-size: 20px;     
 }
.getQuoteNowBtn>.btnQuote{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    top: 610px;
    left: 305px;
    width: 185px;
    height: 52px;
    /* primary-color */
    background: #23a6f0;
    border-radius: 35px;
}
.LearnMoreBtn>.btnLearnMore{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    top: 610px;
    left: 505px;
    width: 185px;
    height: 52px;
    /* primary-color */
    /* background: #FFFFFF; */
    background: rgba(0, 0, 0, 0.5);
    border-radius: 35px;
}
.backgroundColorSignupWhite{
    position: absolute;
    top: 150px;
    left: 1030px;
    width: 355px;
    height: 510px;
    /* primary-color */
    background: #FFFFFF;
    border-radius: 10px;
}
.backgroundColorSignupWhite>.backgroundColorSignupWhiteBookAppointment{
    position: absolute;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* color: white; */
    top: 50px;
    left: 60px;
    width: 355px;
    height: 610px;
    font-size: 30px;
    font-weight: bold;
}
.backgroundColorSignupWhiteName{
    position: absolute;
    top: 120px;
    left: 55px;
    width: 355px;
    height: 610px;
    font-size: 20px;
}
.FullName{
    position: absolute;
    top: 148px;
    left: 55px;
    height: 610px;
    font-size: 10px;
    border-radius: 10px;
}
.backgroundColorSignupWhiteEmailAddress{
    position: absolute;
    top: 190px;
    left: 55px;
    width: 355px;
    height: 610px;
    font-size: 20px;
}
.EmailAddressPlaceholder{
    position: absolute;
    top: 220px;
    left: 55px;
    height: 610px;
    font-size: 10px;
    border-radius: 10px;
}
.backgroundColorSignupWhiteDepartement{
    position: absolute;
    top: 260px;
    left: 55px;
    width: 355px;
    height: 610px;
    font-size: 20px;
}
.DepartementPlaceholder{
    position: absolute;
    top: 290px;
    left: 55px;
    height: 610px;
    font-size: 10px;
    border-radius: 10px;
}
.BookAppointmentTime{
    position: absolute;
    top: 330px;
    left: 55px;
    width: 355px;
    height: 610px;
    font-size: 20px;
}
.BookAppointmentTimePlaceholder{
    position: absolute;
    top: 360px;
    left: 55px;
    height: 610px;
    font-size: 10px;
    border-radius: 10px;
}
.BookAppointmentbtn>.Appointbtn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    color: white;
    margin-top: 410px;
    margin-left: 55px;
    width: 172px;
    height: 42px;
    /* primary-color */
    background: #23a6f0;
    border-radius: 5px;
}
.bgLeadingMedicine{
    position: absolute;
    top: 772px;
    left: 0px;
    width: 1701px;
    height: 1020px;
    /* primary-color */
    background: #FFFFFF;
    /* border-radius: 10px; */
}
.LgHeading{
    position: absolute;
    color: black;
    top: 120px;
    left: 445px;
    font: 15px Arial, sans-serif;
    font-size: 120px;
}
.Lgsubheading{
    position: absolute;
    color: #737373;
    top: 270px;
    left: 630px;
    font: 15px Arial, sans-serif;
    font-size: 25px;
}
.Lgsubheading2{
    position: absolute;
    color: #737373;
    top: 300px;
    left: 530px;
    line-height: 117%;
    font: 15px Arial, sans-serif;
    font-size: 25px;
}
/* Emergency Case */
.bgEmergencyCase{
    position: absolute;
    top: 402px;
    left: 260px;
    width: 379px;
    height: 132px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #8EC2F2;
}
.bgWhiteEmergencyCase{
    position: absolute;
    top: 21px;
    left: 30px;
    width: 89px;
    height: 92px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: white;
}
.EmergencyCaseImg{
    /* position: absolute; */
    top: 38px;
    left: 30px;    
    width: 24.67px;
    height: 18.67px;
    background-image: url(assets/EmergencyCaseImg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* filter: opacity(0.5); */
}
.bgWriteEmergencyCase{
    position: absolute;
    top: 55px;
    left: 130px;
    color: white;
    font: 15px Arial, sans-serif;
    font-size: 25px;
}
.bgEmergencyCaseGrayBorder{
    position: absolute;
    top: 534px;
    left: 260px;
    width: 375px;
    height: 342px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #FFFFFF;
    border: 2px solid #A9D6FF;
    border-radius: 11px;
}
.bgECWriteGray{
    position: absolute;
    color: #737373;
    top: 10px;
    left: 60px;
    font: 15px Arial, sans-serif;
    font-size: 25px;
    line-height: 35px;
}
.bgECWriteLearnMore{
    position: absolute;
    color: #23A6F0;
    top: 284px;
    left: 60px;
    font: 15px Arial, sans-serif;
    font-size: 25px;
    line-height: 35px;
}
/* Cancer Case */
.bgCancerCase{
    position: absolute;
    top: 402px;
    left: 660px;
    width: 379px;
    height: 132px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #8EC2F2;
}
.bgWhiteCancerCase{
    position: absolute;
    top: 21px;
    left: 30px;
    width: 89px;
    height: 92px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: white;
}
.CancerCaseImg{
    /* position: absolute; */
    top: 38px;
    left: 30px;
    width: 24.67px;
    height: 18.67px;
    background-image: url(assets/CancerCaseImg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* filter: opacity(0.5); */
}
.bgWriteCancerCase{
    position: absolute;
    top: 55px;
    left: 130px;
    color: white;
    font: 15px Arial, sans-serif;
    font-size: 25px;
}
.bgCancerCaseGrayBorder{
    position: absolute;
    top: 534px;
    left: 660px;
    width: 375px;
    height: 342px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #FFFFFF;
    border: 2px solid #A9D6FF;
    border-radius: 11px;
}
.bgCCWriteGray{
    position: absolute;
    color: #737373;
    top: 10px;
    left: 60px;
    font: 15px Arial, sans-serif;
    font-size: 25px;
    line-height: 35px;
}
.bgCCWriteLearnMore{
    position: absolute;
    color: #23A6F0;
    top: 284px;
    left: 60px;
    font: 15px Arial, sans-serif;
    font-size: 25px;
    line-height: 35px;
}
/* Health Queries */
.bgHealthQueries{
    position: absolute;
    top: 402px;
    left: 1060px;
    width: 379px;
    height: 132px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #8EC2F2;
}
.bgWhiteHealthQueries{
    position: absolute;
    top: 21px;
    left: 30px;
    width: 89px;
    height: 92px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: white;
}
.HealthQuriesImg{
    /* position: absolute; */
    top: 38px;
    left: 30px;
    width: 24.67px;
    height: 18.67px;
    background-image: url(assets/HealthQuriesImg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* filter: opacity(0.5); */
}
.bgWriteHealthQueries{
    position: absolute;
    top: 55px;
    left: 130px;
    color: white;
    font: 15px Arial, sans-serif;
    font-size: 25px;
}
.bgHealthQueriesGrayBorder{
    position: absolute;
    top: 534px;
    left: 1060px;
    width: 375px;
    height: 342px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #FFFFFF;
    border: 2px solid #A9D6FF;
    border-radius: 11px;
}
.bgHQWriteGray{
    position: absolute;
    color: #737373;
    top: 10px;
    left: 60px;
    font: 15px Arial, sans-serif;
    font-size: 25px;
    line-height: 35px;
}
.bgHQWriteLearnMore{
    position: absolute;
    color: #23A6F0;
    top: 284px;
    left: 60px;
    font: 15px Arial, sans-serif;
    font-size: 25px;
    line-height: 35px;
}
.blueLine{
    background-color: #8EC2F2;			
    position: absolute;
    top: 100%;
    left: 0%;			
    width: 100%;
    height: 1.4px;	
}
/* background Leading Medicine Stars */
.bgLeadingMedicineStars{
    background-color: #FAFAFA;			
    position: absolute;
    top: 100.3%;
    left: 0%;			
    width: 100%;
    height: 800.4px;	
}
.LMHeading{
    position: absolute;
    color: black;
    top: 120px;
    left: 445px;
    font: 15px Arial, sans-serif;
    font-size: 120px;
}
.LMsubheading{
    position: absolute;
    color: #737373;
    top: 270px;
    left: 630px;
    font: 15px Arial, sans-serif;
    font-size: 25px;
}
.LMsubheading2{
    position: absolute;
    color: #737373;
    top: 300px;
    left: 530px;
    line-height: 117%;
    font: 15px Arial, sans-serif;
    font-size: 25px;
}
/* Border1 */
.bgWhiteStarsBorder1{
    position: absolute;
    top: 401px;
    left: 260px;
    width: 379px;
    height: 244.01px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #FFFFFF;
    border: 2px solid #DEDEDE;
    border-radius: 5px;
}
/* Stars1 */
.stars1{
    top: 38px;
    left: 20px;    
    width: 204.67px;
    height: 33.67px;
    background-image: url(assets/Stars1.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.slateHelpYou1{
    position: absolute;
    color: #737373;
    top: 70px;
    left: 30px;
    line-height: 120%;
    font: 15px Arial, sans-serif;
    font-size: 20px;
}
/* Doctor 1 Img */
.Dr1Img{
    top: 144px;
    left: 30px;    
    width: 204.67px;
    height: 203.67px;
    background-image: url(assets/Dr1Img.JPG);
    background-repeat: no-repeat;
    /* background-size: cover; */
    position: relative;
}
/* Border2 */
.bgWhiteStarsBorder2{
    position: absolute;
    top: 401px;
    left: 660px;
    width: 379px;
    height: 244.01px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #FFFFFF;
    border: 2px solid #DEDEDE;
    border-radius: 5px;
}
/* Stars2 */
.stars2{
    top: 38px;
    left: 20px;    
    width: 204.67px;
    height: 33.67px;
    background-image: url(assets/Stars2.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.slateHelpYou2{
    position: absolute;
    color: #737373;
    top: 70px;
    left: 30px;
    line-height: 120%;
    font: 15px Arial, sans-serif;
    font-size: 20px;
}
/* Doctor 2 Img */
.Dr2Img{
    top: 144px;
    left: 30px;    
    width: 204.67px;
    height: 203.67px;
    background-image: url(assets/Dr2Img.JPG);
    background-repeat: no-repeat;
    /* background-size: cover; */
    position: relative;
}
/* Border3 */
.bgWhiteStarsBorder3{
    position: absolute;
    top: 401px;
    left: 1060px;
    width: 379px;
    height: 244.01px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #FFFFFF;
    border: 2px solid #DEDEDE;
    border-radius: 5px;
}
/* Stars3 */
.stars3{
    top: 38px;
    left: 20px;    
    width: 204.67px;
    height: 33.67px;
    background-image: url(assets/Stars3.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.slateHelpYou3{
    position: absolute;
    color: #737373;
    top: 70px;
    left: 30px;
    line-height: 120%;
    font: 15px Arial, sans-serif;
    font-size: 20px;
}
/* Doctor 3 Img */
.Dr3Img{
    top: 144px;
    left: 30px;    
    width: 204.67px;
    height: 203.67px;
    background-image: url(assets/Dr3Img.JPG);
    background-repeat: no-repeat;
    /* background-size: cover; */
    position: relative;
}
.blueLine2{
    background-color: #8EC2F2;			
    position: absolute;
    top: 337%;
    left: 0%;			
    width: 100%;
    height: 1.4px;	
}